.bottomBasicPanelWrapper{
height: 100px;
background-color:rgba(233, 233, 233, 0.7);
}
.bottomBasicPanel{
height: 100%;
width: 1120px;
margin: 0 auto;
background-color: rebeccapurple;
line-height: 100px;
color: white;
text-align:center;
font-size: 50px;
}