.basicPanel01{
position: relative;
float: left;
    width:100%;
    background-color:white;
    line-height:60px;
    text-align:center;
    height: auto;
    margin: 5px 0 5px 0;
    font-size: 60px;
  
}
.basicPanel01-01{
        position: absolute;
        float: left;
        width:537.5px;
        height: 537.5px;
        background-color:white;
        border: 5px solid white;
        margin: 0 ;
        overflow: hidden;
}
.basicPanel01-02{
    position: absolute;
    float: left;
    left: 552.5px;
    width:261.25px;
    height: 537.5px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-03{
    position: absolute;
    float: left;
    left: 828.75px;
    width:261.25px;
    height: 537.5px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-04{
    position: absolute;
    float: left;
    top: 552.5px;
    width:222.5px;
    height: 535px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-05{
    position: absolute;
    float: left;
    top: 552.5px;
    left: 237.5px;
    width:300px;
    height: 300px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-06{
    position: absolute;
    float: left;
    top: 867.5px;
    left: 237.5px;
    width:300px;
    height: 220px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-07{
    position: absolute;
    float: left;
    left: 552.5px;
    top: 552.5px;
    width:322.5px;
    height: 535px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-08{
    position: absolute;
    float: left;
    left: 890px;
    top: 552.5px;
    width:200px;
    height: 260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-09{
    position: absolute;
    float: left;
    left: 890px;
    top: 827.5px;
    width:200px;
    height: 260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-04{
    position: absolute;
    float: left;
    top: 552.5px;
    width:222.5px;
    height: 535px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-10{
    position: absolute;
    float: left;
    top: 1102.5px;
    width:537.5px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-11{
    position: absolute;
    float: left;
    top: 1102.5px;
    width:537.5px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-12{
    position: absolute;
    float: left;
    left: 552.5px;
    top: 1102.5px;
    width:537.5px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-13{
    position: absolute;
    float: left;
    top:1377.5px;
    width:330px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-14{
    position: absolute;
    float: left;
    top:1377.5px;
    left: 345px;
    width:192.5px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-15{
    position: absolute;
    float: left;
    top:1377.5px;
    left: 552.5px;
    width:192.5px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-16{
    position: absolute;
    float: left;
    top:1377.5px;
    left: 760px;
    width:330px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
   
}
.basicPanel01-17{
    position: absolute;
    float: left;
    top: 1652.5px;
    width:261.25px;
    height:260px;
    background-color:white;
    overflow: hidden;
    margin: 0 ;
    border: 5px solid white;
}
.basicPanel01-18{
    position: absolute;
    float: left;
    top: 1652.5px;
    left: 276.25px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-19{
    position: absolute;
    float: left;
    top: 1927.5px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-20{
    position: absolute;
    float: left;
    top: 1927.5px;
    left: 276.25px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-21{
    position: absolute;
    float: left;
    top: 1652.5px;
    left: 552.5px;
    width:350px;
    height:350px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-22{
    position: absolute;
    float: left;
    top: 1652.5px;
    left: 917.5px;
    width:172.5px;
    height:350px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-23{
    position: absolute;
    float: left;
    top: 2017.5px;
    left: 552.5px;
    width:350px;
    height:170px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-24{
    position: absolute;
    float: left;
    top: 2017.5px;
    left: 917.5px;
    width:172.5px;
    height:170px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-25{
    position: absolute;
    float: left;
    top: 2202.5px;
    width:811.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-26{
    position: absolute;
    float: left;
    left: 827.5px;
    top: 2202.5px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-27{
    position: absolute;
    float: left;
    top: 2477.5px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-28{
    position: absolute;
    float: left;
    top: 2477.5px;
    left: 276.25px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-29{
    position: absolute;
    float: left;
    top: 2477.5px;
    left: 552.5px;
    width:261.25px;
    height:260px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}
.basicPanel01-30{
    position: absolute;
    float: left;
    top: 2597.5px;
    left: 928.75px;
    width:161.25px;
    height:143px;
    background-color:white;
    border: 5px solid white;
    margin: 0 ;
    overflow: hidden;
}


