.basicPanel-loginWrapper{
height: 700px;
background-color:rgba(233, 233, 233, 0.7);
}
.basicPanel-login{
    height: 100%;
width: 1120px;
margin: 0 auto;
background-color: white;
line-height: 100px;
color: rgb(58, 57, 57);
text-align:center;
font-size: 40px;
border: 0px;

}
.block-zhu-loginWrapper{
    float: left;
    margin-left: 305px;
    margin-top: 100px;
    height: 400px;
    width: 500px;

    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
				0px 0px 20px rgba(0,0,0,0.1) inset;

}
.block-sign-login{
    float: left;
    margin-left: 190px;
    margin-top: 30px;
    height: 50px;
}
.label-sign{
    border: 0px;
}
.block-sign-login-text{
    float: left;
    height: 40px;
    width: 300px;
    margin-top: 30px;
    margin-left: 95px;
    background:none;  
    outline:none;  
    border: none;
    line-height: 35px;
    font-size: 23px;
    line-height: 45px;
    padding: 5px;
    box-shadow: 10px 10px 7px  rgba(0,0,0,0.1);
    border-radius:15px;

}
.block-sign-login-pwd{
    float: left;
    height: 40px;
    width: 300px;
    margin-left: 95px;
    margin-top:25px;
    background:none;  
    outline:none;  
    border: none; 
    line-height: 35px;
    font-size: 23px;
    padding: 5px;
    box-shadow: 10px 10px 7px rgba(0,0,0,0.1);
    border-radius:15px;
}
.block-sign-login-submitWrapper{
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 220px;
    margin-top: -25px; 
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0);
}
.block-sign-login-submit{
    border: 0px;
    float: left;
    margin-top: 45px;
    height: 40px;
}