body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}
.basicPanelNavWrapper{  
    background-color:rgba(233, 233, 233, 0.7);
    height: 86px;
}
.basicPanelNav{
    display: block;
    height:100%;
    width:1100px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    line-height:90px;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    
}
.naviBlock{
    position: relative;
    float:left;
    margin-left:14px;
    background-color: white;
    height: 50%;
    width: 92px;
    color: black;
    font-size: 20px;
   
   
}
.label-limit{
    text-align:center;
    background-color: rgba(33, 166, 117,0.6);
    border-radius: 18px;
    padding: 20px 25px 20px;
}
.naviBlockTitle{
    position: relative;
    float: right;
    right: 5.5px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 537px;
    color: black;
    font-size: 50px;
    
}
a{
    text-decoration: none;
    color: grey;
}
.block-logo{
    margin-top: 7px;
    height: 92px;
}
.block-re{
    height: 88px;
}
.block-xin{
    height: 90px;
}
.block-mai{
    height: 84px;
}
.block-hao{
    height: 93px;
}
.block-zhu{
    height: 90px;
}